@model Hamwic.Cif.Web.Models.Account.LoginModel
@{
    ViewData["Title"] = "Account";
}

<div class="container login mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-img">
                        <img class="img-fluid" src="~/img/logo/hamwic.png" alt="Hamwic logo" />
                    </div>
                    <p class="h4 text-center py-4">Login</p>
                    <div class="row">
                        <span class="text-danger pl-2">@Html.ValidationSummary()</span>
                    </div>
                    <form asp-action="Login" asp-controller="Account">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-envelope mt-2 ml-sm-2 ml-md-0"></i>
                            </div>
                            <div class="col-11">
                                @Html.EditorFor(x => x.EmailAddress)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-unlock-alt mt-3 ml-sm-2 ml-md-0"></i>
                            </div>
                            <div class="col-11">
                                @Html.EditorFor(x => x.Password)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-11">
                                <input asp-for="@Model.RememberMe"/><span class="pl-2"><label asp-for="@Model.RememberMe"></label></span>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-primary waves-effect waves-light" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="options">
                        <p>Forgot <a href="@Url.Action("ForgotPassword")">Password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
